{% extends "base.html" %}
{% block headd%}
<title> show true tasks</title>
{%endblock%}


{% block bodyy%}
<div class="row ">
{%for task in tasks %}



    <div class="col-sm-3 ">
        <div class="card text-center">
            <div class="card-header " style="background-color: #66ffc2;">
                {{task.category}}
            </div>
            <div class="card-body">
                <h5 class="card-title">you have done it in {{task.finish_date}}</h5>
                <p class="card-text">{{task.definitoin|truncatewords:2}}...</p>
                <a href={% url "tasks:show_detail" task.id %} class="btn btn-primary" style="background-color:#01d28e;;">Show detail</a>
            </div>
            <div class="card-footer text-muted">
                {{task.start_date}}
            </div>
        </div>
    </div>

<br><br><br>

{% endfor %}
</div>

{%endblock%}
